# Configuration file for externalSchemaRepoGenerator Makefile
# Remember about escaping special characters, e.g. in REPOSITORY_URL

# ConfigMap configuration
GENERATION_DIRECTORY=generated
EXTERNAL_REPO_CONFIGMAP_FILENAME_PREFIX=external-repo-configmap-spec
EXTERNAL_REPO_CONFIGMAP_DIRECTORY=specs
EXTERNAL_REPO_CONFIGMAP_NAME_PREFIX=external-repo-configmap
SNIPPET_FILENAME=ves-snippet.md

# Source repository configuration
5G_API_REPOSITORY_URL_HTTPS=https\://forge.3gpp.org/rep/all/5G_APIs.git
REPOSITORY_URL_HTTPS=https\://forge.3gpp.org/rep/sa5/MnS.git
#REPOSITORY_BRANCH="Rel-16-SA-91"
#REPOSITORY_BRANCH="Rel-16-SA-91:TSG91-Rel16"
#REPOSITORY_BRANCH="SA88-Rel16"
# User can put here 5G_API specific repository branch name related to OPEN API schema branch after colon
# for example: Rel-16-SA-91:TSG91-Rel16
# Having such information script will clone this specific 5G API branch and merge it wit OPEN API schema
# If 5G_API specific repository branch after colon will not be set by user, then script will parse OPEN API if any
# reference to 5G_API specific repository is present and parse 5G_API branch from this reference.
# Next clone parsed 5G API branch and merge it with OPEN API schema
REPOSITORY_BRANCH="SA88-Rel16 Rel-16-SA-91:TSG91-Rel16 Rel-17-SA-91"
SCHEMAS_LOCATION=OpenAPI

# Vendor description
VENDOR_NAME=3gpp
